body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.form__auth {
  width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.form__auth strong {
  display: block;
}

.form__auth button {
  margin-top: 10px;
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 10px;
}
